<div class="page-header">
    <h2>Gracias por su compra</h2>
</div>
<div class="container row">
    <div class="jumbotron col-md-12 pull-center">
         <p>Su pedido fue registrado con exito!.</p>
            <h4>Dentro de las 48h su pedido sera enviado a la direccion <b>{{direccion_envio}}</b>, debiendo abonar la suma de <b>${{total}}</b></h4>
           <br>
        <div class="col-md-12">
           
           <b>Detalle de su pedido</b><br>
            <table class="table">

                <tbody>

                    {{#each arrObjetosCarrito}}
                    <tr class="bg-secondary text-white">
                        <td><img src="{{foto}}" width="60px"></td>
                        <td>{{nombre}}</td>
                        <td>{{autor}}</td>
                        <td>${{precio}}</td>
                        <td>{{cantidad}} u.</td>
                       

                    </tr>

                    {{/each}}

                   

                </tbody>
            </table>
            <a href="/pedidos/" class="btn btn-primary">Ir a mis pedidos</a>
        </div>
    </div>
</div>