<div class="page-header">

  <h2>Detalle de libro</h2>
</div>
<div class="row">
  {{#each arrObjetos}}
  <div class="col-md-3" style="margin-bottom:40px; min-height:450px">
    <div class="card" align="center" style="border: 1px solid #ccc;">

      <div class="card-body">
        <img class="card-img-top" src="{{foto}}" alt="{{nombre}}" width="200" style="padding:10px">
      </div>

    </div>
  </div>



  <div class="col-md-9" style="margin-bottom:40px; min-height:450px">
    <div class="card" align="left" style="border: 1px solid #ccc;">

      <div class="card-body">
        <p class="card-left">
        <h1>{{nombre}}</h1><br>
        AUTOR:<br>
        <b>{{autor}}</b><br><br>
        GENERO:<br>
        <b>{{genero}}</b><br><br>
        DESCRIPCION:<br>
        <b> {{descripcion}}</b><br><br>
        PRECIO:<br>
        <b>${{precio}}</b><br><br>
        <hr>
        {{#esDistinto stock 0}}
        <a class="btn btn-primary" href="/carrito/add/{{_id}}"><i class="fa fa-shopping-cart" aria-hidden="true"></i>
          Agregar</a>
        {{/esDistinto}}
         {{#esDistinto stock 0}} <em>Disponibles: {{stock}}u.</em>{{else}} <em>Sin stock</em> {{/esDistinto}}
        <br>
        </p>
      </div>
    </div>
    {{/each}}
  </div>