{{#each arrObjetos}}
    <div class="col-md-3" style="margin-bottom:40px; min-height:500px">
        <div class="card" align="center" style="border: 1px solid #ccc;" >
            <img class="card-img-top" src="{{foto}}" alt="{{nombre}}" width="200"  style="padding:10px">
            <div class="card-body">
      <p class="card-text"> <b>{{nombre}}</b><br>
        <em>{{autor}}</em><br>
          <b>{{genero}}</b><br>
      
        <b>${{precio}}</b><br>
        {{#esDistinto stock 0}}

        <a class="btn btn-primary" href="/carrito/add/{{_id}}"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Agregar</a>
        {{/esDistinto}}
        <a class="btn btn-primary" href="/productos/{{_id}}"><i class="fa fa-eye" aria-hidden="true"></i> Ver</a>
        <br> {{#esDistinto stock 0}} <em>Disponibles: {{stock}}u.</em>{{else}} <em>Sin stock</em> {{/esDistinto}}
        <br>
      </p>
    </div>

  </div>
</div>
{{/each}}

